/* GlobalStyle.css */
.container-sidebar {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.Sidebar:hover ~ .container-sidebar {
    margin-left: 300px;
}

.content-sidebar {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
